@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
   font-family: 'Ubuntu', sans-serif !important; 
   
}
body{
background-color: #FBFBFB;
}

.rw-1{
    @apply w-[calc(100%-1rem)]
}

.rw-2{
    @apply w-[calc(100%-2rem)]
}

.circle1 {
    transform: translateX(-50%)
}
.circle2 {
    transform: translateX(-50%) scale(150%)
}
.circle3 {
    transform: translateX(-50%) scale(200%)
}
